/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 45 |   &__p {
 *    |   ^^^^
 *    '
 *   src\sections\challenges.scss 45:3  @use
 *   src\main.scss 6:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 45 \2502    &__p {\d\a    \2502    ^^^^\a    \2575 \a   src\\sections\\challenges.scss 45:3  @use\a   src\\main.scss 6:1                  root stylesheet';
}
