html,
body {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: #001826;
}

.Header img {
  height: 8vh;
  border: 2px solid transparent;
}

.Header img:hover {
  border: 2px solid #079ce1;
}

.HeaderText {
  color: white;
  font-family: Roboto;
}

.HeaderText:hover {
  text-decoration: underline;
  text-decoration-color: #079ce1;
  text-decoration-thickness: 3px;
}

.NavigationBar ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  padding: 0;
  gap: 1rem;
}

.NavigationBar li {
  font-family: Roboto;
  font-weight: 500;
}

.NavigationBar a {
  color: #fff;
  text-decoration: underline;
}

.NavigationBar a:hover {
  text-decoration: underline;
}

.HeroMobile {
  width: 100%;
  height: 35vh;
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
}

.HeroDesktop {
  display: none;
}

footer {
  background-color: #001826;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.Footer h4,
.Footer h5,
.Footer p {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 400px) {
  .Header {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    column-gap: 3.1rem;
    padding: 1.2rem 0.9rem;
    border-radius: 0px;
  }
  .Header img {
    height: 70px;
    width: auto;
    max-width: none;
    display: block;
  }
  .HeaderText {
    grid-column: 2/3;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
  }
  .HeaderText br {
    display: block;
  }
  .Header {
    position: relative;
  }
  .menu-button {
    position: absolute;
    top: 1.4rem;
    right: 0.7rem;
    width: 45px;
    height: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    border: 0;
    padding: 1px;
  }
  .menu-button span {
    display: block;
    height: 4.5px;
    width: 2.4rem;
    background: #fff;
    border-radius: 2px;
  }
  .menu-overlay {
    position: fixed;
    background-color: black;
    inset: 0;
    z-index: 9999;
    margin: 0.95rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }
  .menu-overlay.open {
    opacity: 1;
    transform: scale(1);
    animation: fadeZoomIn 1s ease forwards;
    pointer-events: auto;
  }
  @keyframes fadeZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .menu-overlay[hidden] {
    display: none;
  }
  .overlay-nav {
    position: relative;
  }
  .overlay-close {
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 3.8rem;
    font-weight: 400;
    margin-top: 0.1rem;
    margin-left: 18.5rem;
    border: none;
    line-height: 1;
    z-index: 10000;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: 0s;
  }
  .menu-overlay.open .overlay-close {
    opacity: 1;
    transform: scale(1);
    transition-delay: 1s;
  }
  .menu-overlay[hidden] {
    display: none !important;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .overlay-nav ul {
    list-style: none;
    margin: 0;
    padding: 13rem 4rem;
    display: grid;
    gap: 2.5rem;
    text-align: center;
  }
  .overlay-nav a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.65rem;
    font-weight: 600;
  }
  .overlay-nav a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
  }
  .NavigationBar {
    display: none;
  }
  .HeroMobile {
    display: block;
    width: 100%;
    height: 13.5rem;
    object-fit: cover;
    padding: 0px;
    box-sizing: border-box;
  }
  .HeroDesktop {
    display: none;
  }
  .CTAButtonTop {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 0.7rem;
  }
  .OnsiteButton {
    order: 1;
  }
  .OnlineButton {
    order: 2;
  }
  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 700;
    color: #001826;
    padding: 0.6rem 1.7rem;
    margin: 0.9rem;
    border: none;
    border-radius: 4px;
    border: 3px solid transparent;
  }
  .OnsiteButton:hover {
    border: 2px solid #9342ef;
  }
  .OnlineButton {
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 550;
    color: rgb(37, 106, 136);
    margin: 0.4rem;
    background: none;
    border: none;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;
  }
  .OnlineButton Button:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 3px;
  }
  .TestimonialsContent1 {
    flex: 0 0.9 460px;
    display: flex;
    align-content: flex-start;
    gap: 0.1rem 1rem;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
    max-width: 50rem;
  }
  .TestimonialsContent1:hover {
    border-color: rgb(15, 160, 232);
  }
  .TestimonialsContent1 img {
    width: 55px;
    height: 58px;
    border-radius: 40%;
    object-fit: cover;
    display: block;
  }
  .TestimonialsContent1 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }
  .TestimonialsContent1 figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
  .TestimonialsContent1 span {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    margin: 0;
  }
  .TestimonialsContainer {
    display: flex;
    gap: 0rem;
    margin-top: 0rem;
  }
  .TestimonialsContent2 {
    flex: 0 0.9 460px;
    display: flex;
    align-content: flex-start;
    gap: 0.1rem 1rem;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
    max-width: 50rem;
  }
  .TestimonialsContent2:hover {
    border-color: rgb(15, 160, 232);
  }
  .TestimonialsContent2 img {
    width: 55px;
    height: 58px;
    border-radius: 40%;
    object-fit: cover;
    display: block;
  }
  .TestimonialsContent2 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }
  .TestimonialsContent2 figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
  .TestimonialsContent2 span {
    color: #000;
    font-size: 0.9rem;
    font-style: normal;
    margin: 0rem;
  }
  .TestimonialsContent2 p,
  .TestimonialsContent2 span {
    margin: 0;
  }
  .TestimonialsContent2 {
    display: none;
  }
  .PopularChalleges {
    margin-top: 0.8rem;
    margin-left: 0.5rem;
  }
  .PopularChallenges h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 540;
    padding: 1rem 1.7rem;
  }
  .PopularChallenges h2:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 3px;
  }
  .PopularChallengesCards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    padding: 0rem 3rem 1.5rem 2rem;
    margin-left: 0.8rem;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
  }
  .Card {
    scroll-snap-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  }
  .Card p {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 250;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
  }
  .Card img {
    width: 100%;
    height: 11rem;
    display: block;
    border-radius: 8px 8px 0 0;
  }
  .Card h3 {
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
  }
  .Card Button {
    Background-color: rgb(215, 10, 10);
    color: white;
    font-size: 0.8rem;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 0.6rem 1.6rem;
    margin-left: 8rem;
    margin-bottom: 0.6rem;
  }
  .Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .Stars {
    color: #e11c1c;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 0.5rem;
  }
  .Participants {
    font-size: 0.7rem;
    color: #444;
    margin-right: 5rem;
  }
  .CTAButtonCenter {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "Onsite" "Online";
    justify-items: center;
    margin-top: 0.75rem;
  }
  .OnsiteButtonCenter {
    grid-area: Onsite;
  }
  .OnlineButtonCenter {
    grid-area: Online;
  }
  .FullWidthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%;
    height: 53vh;
    padding: 1.8rem;
    gap: 2rem;
  }
  .FullWidthSectionText {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
  }
  .FullWidthSectionText:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 1px;
  }
  .FullWidthSectionButton {
    color: hsl(192, 56.7567567568%, 63%);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 700;
    padding: 0.9rem 2.5rem;
    margin: 0.9rem;
    border: 2px solid hsl(192, 56.7567567568%, 63%);
    border-radius: 0.3rem;
  }
  .FullWidthSectionButton:hover {
    border: 2px solid #9c38d6;
  }
  .Options {
    grid-template-columns: 10rem;
    grid-template-rows: auto;
    column-gap: 0rem;
    padding: 0;
  }
  .TeamPlay {
    display: grid;
    grid-column: 1/-1;
    grid-row: auto;
  }
  .TeamPlay h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 790;
    line-height: 120%;
    letter-spacing: 0rem;
    margin: 1rem;
    padding-bottom: 0.1rem;
    padding-top: 0.2rem;
  }
  .TeamPlay h2:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 3px;
  }
  .TeamPlay p {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    padding: 0rem;
  }
  .TeamPlay p:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 1px;
  }
  .TeamPlay img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    padding-bottom: 0px;
  }
  .TeamPlay img:hover {
    border: 3px solid #03b2cd;
  }
  .TeamPlayButton {
    background-color: #dc3232;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 540;
    color: white;
    padding: 0.75rem 2.6rem;
    margin: 3rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    margin-top: 1.8rem;
    border: none;
    border-radius: 3px;
    border: 3px solid transparent;
  }
  .TeamPlayButton:hover {
    border: 3px solid #9c38d6;
  }
  .OnlinePlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "text";
  }
  .OnlinePlayPicture img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 15.5rem;
    object-fit: cover;
    padding: 0px;
    box-sizing: border-box;
  }
  .OnlinePlayPicture img:hover {
    border: 2px solid #03b2cd;
  }
  .OnlinePlayText {
    grid-column: 1;
    grid-row: 2;
  }
  .OnlinePlay h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 790;
    line-height: 120%;
    letter-spacing: 0rem;
    margin: 1rem;
    padding-bottom: 0.1rem;
    padding-top: 0.2rem;
  }
  .OnlinePlay h2:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 2px;
  }
  .OnlinePlay p {
    font-size: 1.15rem;
    font-family: sans-serif;
    font-weight: 540;
    line-height: 120%;
    width: auto;
    gap: 0;
    margin: 1rem;
    padding: 0rem;
  }
  .OnlinePlay p:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 1px;
  }
  .OnlinePlayButton {
    background-color: #dc3232;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 540;
    color: white;
    padding: 0.75rem 2.6rem;
    margin: 3rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    margin-top: 1.8rem;
    border: none;
    border-radius: 3px;
    border: 3px solid transparent;
  }
  .OnlinePlayButton:hover {
    border: 2px solid #9c38d6;
  }
  .FooterContainer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #001826;
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 50;
    padding: 2rem 1.1rem 5rem;
  }
  .Footer h {
    font-family: sans-serif;
    font-size: 2rem;
  }
  .Footer:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2px;
  }
  .FooterSiteMap {
    grid-column: 1/-1;
    display: grid;
  }
  .FooterSiteMap ul {
    display: grid;
    list-style: none;
    margin-left: 0rem;
    gap: 0rem;
    margin: 0;
    padding: 0;
  }
  .FooterSiteMap li {
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 200;
  }
  .FooterSiteMap a {
    color: #fff;
    text-decoration: none;
  }
  .FooterContactInfo {
    grid-column: 1/-1;
    display: grid;
    row-gap: 0rem;
  }
  .FooterContactInfo ul {
    display: grid;
    list-style: none;
    margin-left: 0rem;
    gap: 0rem;
    padding: 0;
    margin: 0;
  }
  .FooterContactInfo li {
    text-decoration: none;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 200;
    color: #fff;
  }
  .FooterContactInfo a {
    color: #fff;
    text-decoration: none;
  }
  .Footer p,
  .Footer h4 {
    margin: 0.3rem;
    padding: 0rem;
  }
}
@media screen and (min-width: 401px) {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .Header img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 6.5rem;
    height: 4.5rem;
    border: 2px solid transparent;
  }
  .HeaderText {
    grid-column: 2/3;
    font-size: 1.8rem;
    font-weight: 650;
    white-space: nowrap;
    padding: 0rem;
    margin-top: 1.1rem;
  }
  .HeaderText br {
    display: none;
  }
  .NavigationBar {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }
  .NavigationBar ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0;
  }
  .NavigationBar li {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 100%;
  }
  .NavigationBar a {
    color: #fff;
    text-decoration: none;
  }
  .NavigationBar a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2.5px;
  }
  .menu-button {
    display: none;
  }
  nav[hidden] {
    display: block !important;
  }
  .Header > .NavigationBar {
    display: block;
  }
  .HeroDesktop {
    display: block;
    width: 100%;
    height: 50vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
  }
  .HeroMobile {
    display: none;
  }
  .CTAButtonTop {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 1rem;
    margin-left: 24rem;
    margin-top: -2rem;
    width: 100%;
  }
  .OnlineButton {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }
  .OnlineButton:hover {
    border: 3px solid #ac47c8;
  }
  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }
  .OnsiteButton:hover {
    border: 3px solid #ac47c8;
  }
  .TestimonialsContainer {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 6rem;
  }
  .TestimonialsContent1 {
    flex: 0 1 460px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
  }
  .TestimonialsContent1:hover {
    border-color: rgb(15, 160, 232);
  }
  .TestimonialsContent1 img {
    width: 70px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
  .TestimonialsContent1 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }
  .TestimonialsContent1 figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
  .TestimonialsContent1 span {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    margin: 0;
  }
  .TestimonialsContent2 {
    flex: 0 1 460px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 0px;
    border: 3px solid transparent;
    background: #fff;
  }
  .TestimonialsContent2:hover {
    border-color: rgb(15, 160, 232);
  }
  .TestimonialsContent2 img {
    width: 70px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }
  .TestimonialsContent2 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }
  .TestimonialsContent2 figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }
  .TestimonialsContent2 span {
    color: #000;
    font-size: 0.95rem;
    font-style: normal;
    margin: 0;
  }
  .PopularChallenges {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-bottom: 7rem;
  }
  .PopularChallenge h2 {
    justify-self: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 450;
    margin: 0 0 1rem;
  }
  .PopularChallengesCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    height: 18rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .Card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border: 3px solid transparent;
    box-sizing: border-box;
  }
  .Card img {
    width: 100%;
    height: 12rem;
    display: block;
    border-radius: 10px 10px 0 0;
  }
  .Card:hover {
    border-color: #035ecd;
  }
  .Card h3 {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 0.7rem;
  }
  .Card Button {
    Background-color: rgb(215, 10, 10);
    color: white;
    font-size: 0.7rem;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 0.7rem 1.7rem;
    margin-left: 9rem;
    margin-bottom: 0.5rem;
  }
  .Card Info {
    padding: 1rem;
    font-family: sans-serif;
  }
  .Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .Stars {
    color: #e11c1c;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .Card Participants {
    font-size: 0.8rem;
    color: #444;
  }
  .CTAButtonCenter {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem 0;
  }
  .OnlineButtonCenter {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    margin-left: 4rem;
  }
  .OnlineButtonCenter:hover {
    border: 3px solid #ac47c8;
  }
  .OnsiteButtonCenter {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    margin-left: 1rem;
  }
  .OnsiteButtonCenter:hover {
    border: 3px solid #ac47c8;
  }
  .FullWidthSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 52vh;
    padding: 1.5rem;
    gap: 1rem;
  }
  .FullWidthSectionText {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0rem 8rem;
  }
  .FullWidthSectionText:hover {
    text-decoration: underline;
    text-decoration-color: #035ecd;
    text-decoration-thickness: 2px;
  }
  .FullWidthSectionButton {
    color: hsl(192, 56.7567567568%, 63%);
    font-size: 1.2rem;
    font-weight: 550;
    text-decoration: none;
    padding: 0.9rem 2.7rem;
    margin: 0rem;
    border: 1.5px solid hsl(192, 56.7567567568%, 63%);
    border-radius: 0.3rem;
  }
  .FullWidthSectionButton:hover {
    border: 2px solid #9c38d6;
  }
  .TeamPlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
  }
  .TeamPlayPicture {
    grid-column: 1/2;
  }
  .TeamPlayText {
    grid-column: 2/3;
  }
  .TeamPlayPicture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }
  .TeamPlayPicture img:hover {
    border-color: #03b2cd;
  }
  .TeamPlayText {
    align-items: center;
    padding: 1rem 1rem;
    font-size: 1rem 3rem;
    font-family: sans-serif;
    font-weight: 450;
    letter-spacing: 0rem;
    gap: 0rem;
  }
  .TeamPlayText h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0rem;
    gap: 2rem;
  }
  .TeamPlayText h2:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 3px;
  }
  .TeamPlayText p {
    line-height: 1.5;
  }
  .TeamPlayText p:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 3px;
  }
  .TeamPlayButton {
    background-color: #f31c1c;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 3px;
    border: 3px solid transparent;
  }
  .TeamPlayButton:hover {
    border: 3px solid #9c38d6;
  }
  .OnlinePlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  .OnlinePlayText {
    grid-column: 1/2;
  }
  .OnlinePlayPicture {
    grid-column: 2/3;
  }
  .OnlinePlayPicture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }
  .OnlinePlayPicture img:hover {
    border-color: #03b2cd;
  }
  .OnlinePlayText {
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 450;
    letter-spacing: 0rem;
    gap: 0rem;
  }
  .OnlinePlayText h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 760;
    letter-spacing: 0rem;
    gap: 2rem;
  }
  .OnlinePlayText h2:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 3px;
  }
  .OnlinePlayText p {
    line-height: 1.5;
  }
  .OnlinePlayText p:hover {
    text-decoration: underline;
    text-decoration-color: #03b2cd;
    text-decoration-thickness: 3px;
  }
  .OnlinePlayButton {
    background-color: #f31c1c;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 3px;
    border: 3px solid transparent;
  }
  .OnlinePlayButton:hover {
    border: 3px solid #9c38d6;
  }
  .FooterContainer {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    background-color: #001826;
    gap: 3rem;
    padding: 3.5rem;
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }
  .FooterContainer:hover {
    border-color: #079ce1;
  }
  .Footer h4 {
    font-size: 0.9rem;
    font-weight: 550;
  }
  .Footer h4:hover {
    color: #03b2cd;
  }
  .FooterText {
    grid-column: 1/2;
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    align-items: start;
    padding: 1.5rem 2rem;
    text-decoration: none;
  }
  .FooterText:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2px;
  }
  .FooterSiteMap {
    grid-column: 2/3;
  }
  .FooterSiteMap ul {
    list-style: none;
    row-gap: 0rem;
  }
  .FooterSiteMap li {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
  }
  .FooterContactInfo {
    grid-column: 3/4;
    justify-self: center;
    padding: 2rem;
  }
  .FooterContactInfo ul {
    list-style: none;
    margin-left: 0rem;
    margin: 0.5rem 0 0;
  }
  .FooterContactInfo li {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
  }
  .FooterSiteMap a,
  .FooterContactInfo a {
    color: #fff;
    text-decoration: none;
  }
  .FooterSiteMap a:hover,
  .FooterContactInfo a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2px;
  }
  .FooterSiteMap ul,
  .FooterContactInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
