/*@use '../lib/variables' as *;*/
@use '../lib/mixins' as *;


.PopularChalleges {
    margin-top: 0.8rem;

    margin-left: 0.5rem;

  }

&__ h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 540;
    padding: 1rem 1.7rem;
  }

 &__h2:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 3px;
  }

  &Cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    padding: 0rem 3rem 1.5rem 2rem;
    margin-left: 0.8rem;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
  }

  .Card {
    scroll-snap-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .15);
  }

  &__p {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 250;
    margin-left: 0.8rem;
    margin-right: 0.5rem;

  }

  .Card img {
    width: 100%;
    height: 11rem;
    display: block;
    border-radius: 8px 8px 0 0;
  }

  .Card h3 {
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
  }

  .Card Button {
    Background-color: rgb(215, 10, 10);
    color: white;
    font-size: 0.8rem;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 0.7rem 1.8rem;
    margin-left: 7.5rem;
    margin-bottom: 0.6rem;
  }

  .Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;

  }

  .Stars {
    color: #e11c1c;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 0.5rem;
  }

  .Participants {
    font-size: .7rem;
    color: #444;
    margin-right: 5rem;
  }


  @include large-screen {

   .PopularChallenges {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-bottom: 7rem;

  }

  .PopularChallenge h2 {
    justify-self: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 450;
    margin: 0 0 1rem;
  }

  .PopularChallengesCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    height: 18rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .Card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .15);
    border: 3px solid transparent;
    box-sizing: border-box;
  }

  .Card img {
    width: 100%;
    height: 12rem;
    display: block;
    border-radius: 10px 10px 0 0;
  }

  .Card:hover {
    border-color: #035ecd;
  }

  .Card h3 {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 0.7rem;
  }

  .Card Button {
    Background-color: rgb(215, 10, 10);
    color: white;
    font-size: 0.7rem;
    font-weight: 550;
    border: none;
    border-radius: 4px;
    padding: 0.7rem 1.7rem;
    margin-left: 9rem;
    margin-bottom: 0.5rem;
  }

  .Card Info {
    padding: 1rem;
    font-family: sans-serif;
  }

  .Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }

  .Stars {
    color: #e11c1c;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  .Card Participants {
    font-size: .8rem;
    color: #444;
  }

  }


