
@use '../lib/variables' as *;
/*@use '../lib/mixins' as *;*/


 .CTAButtonTop {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 0.7rem;
  }

  .OnsiteButton {
    order: 1;
  }

  .OnlineButton {
    order: 2;
  }

  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 700;
    color: #001826;
    padding: 0.6rem 1.7rem;
    margin: 0.9rem;
    border: none;
    border-radius: 4px;
    border: 3px solid transparent;
  }

  .OnsiteButton:hover {
    border: 2px solid #9342ef;
  }

  .OnlineButton {
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 550;
    color: rgb(37, 106, 136);
    margin: 0.4rem;
    background: none;
    border: none;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;


    Button:hover {
      text-decoration: underline;
      text-decoration-color: #079ce1;
      text-decoration-thickness: 3px;
    }
  }


@include large-screen {
  .CTAButtonTop {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 1rem;
    margin-left: 24rem;
    margin-top: -2rem;
    width: 100%;
  }

  .OnlineButton {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }

  .OnlineButton:hover {
    border: 3px solid #ac47c8;
  }

  .OnsiteButton {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
  }

  .OnsiteButton:hover {
    border: 3px solid #ac47c8;
  }
}