/*@use '../lib/variables' as *;*/
@use '../lib/mixins' as *;


.CTAButtonCenter {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "Onsite" "Online";
    justify-items: center;
    margin-top: 0.75rem;
  }

  .OnsiteButtonCenter {
    grid-area: Onsite;
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 700;
    color: #001826;
    padding: 0.7rem 2.2rem;
    margin: 0.9rem;
    border: none;
    border-radius: 4px;
    border: 3px solid transparent;
  }

  .OnlineButtonCenter {
    grid-area: Online;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 550;
    color: rgb(37, 106, 136);
    margin: 0.9rem;
    background: none;
    border: none;
    padding-bottom: 1rem;
    padding-top: 0.1rem;
    text-decoration: underline;
  }


  .OnsiteButton:hover {
    border: 2px solid #9342ef;
  }

  Button:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 3px;
  }

@include large-screen {
   .CTAButtonCenter {
   display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .OnlineButtonCenter {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    margin-left: 1rem;

  }

  .OnlineButtonCenter:hover {
    border: 3px solid #ac47c8;
  }

  .OnsiteButtonCenter {
    background-color: #89d9e9;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 100%;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    margin-right: 20rem;

  }

  .OnsiteButtonCenter:hover {
    border: 3px solid #ac47c8;
  }
}



