/*@use '../lib/variables' as *;*/
@use '../lib/mixins' as *;

  .menu-overlay[hidden] { display: none !important; } 

.Header {
  background-color: #001826;
}

.HeaderText {
  color: white;
  font-family: Roboto;
}

.HeaderText:hover {
  text-decoration: underline;
  text-decoration-color: #079ce1;
  text-decoration-thickness: 3px;
}

.Header img {
  height: 8vh;
  border: 2px solid transparent;
}

.Header img:hover {
  border: 2px solid #079ce1;
}

.Header {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    column-gap: 3.1rem;
    padding: 1.2rem 0.9rem;
    border-radius: 0px;
  }

  .Header img {
    height: 70px;
    width: auto;
    max-width: none;
    display: block;
  }

  .HeaderText {
    grid-column: 2 / 3;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
  }

  .HeaderText br {
    display: block;
  }
 .Header {
    position: relative;
  }

  .menu-button {
    position: absolute;
    top: 1.40rem;
    right: 2rem;
    width: 50px;
    height: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    border: 0;
    padding: 0.8px;
  }

  .menu-button span {
    display: block;
    height: 4.5px;
    width: 2.8rem;
    background: #fff;
    border-radius: 2px;
  }

  .menu-overlay {
    position: fixed;
    background-color: black;
    inset: 0;
    z-index: 9999;
    display: flex;
    margin: 1rem 3rem 1rem 1rem;
    justify-content: center;
    align-items: center;
  }

  body.blurred main::before  {
  filter: blur(14px);
  transition: filter 0.5s ease;
  }


  body.blurred main::before {
    content: "";
    position: fixed;
    inset: 0;
   background: rgba(0,0,0,0.25);
   backdrop-filter: blur(14px) brightness(2) saturate(110%);
    -webkit-backdrop-filter: blur(14px) brightness(1) saturate(110%);
    z-index: 998;
    pointer-events: none;
  }

  .menu-overlay.open {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    animation: fadeZoomIn 0.3s ease forwards;
  }

  @keyframes fadeZoomIn {
    from { opacity:0; transform:scale(.9); }
  to   { opacity:1; transform:scale(1); }
  }
  .menu-overlay[hidden] {
    display: none
  }
  .overlay-nav {
    position: relative;
  } 

  .overlay-close {
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 3.8rem;
    font-weight: 400;
    margin-top: 0.2rem;
    margin-left: 14.5rem;
    border: none;
    line-height: 1;
    z-index: 10000;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.5);
    transition:
    opacity 0.5s ease,
    transform 0.1s ease;
  }
    .menu-overlay.open .overlay-close {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
  }


  body.no-scroll {
    overflow: hidden;
  }

  .overlay-nav ul {
    list-style: none;
    margin: 0;
    padding: 13rem 4rem;
    display: grid;
    gap: 2.5rem;
    text-align: center;
  }


  .overlay-nav a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.65rem;
    font-weight: 600;
  }

  .overlay-nav a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
  }

  .NavigationBar {
    display: none;
  }


@include large-screen {
  .Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 2rem;
    padding: 1.9rem;
  }

  .Header img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 6.5rem;
    height: 4.5rem;
    border: 2px solid transparent;
  }

  .HeaderText {
    grid-column: 2 / 3;
    font-size: 1.8rem;
    font-weight: 650;
    white-space: nowrap;
    padding: 0rem;
    margin-top: 1.1rem;
  }

  .HeaderText br {
    display: none;
  }

  .NavigationBar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .NavigationBar ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0;
  }

  .NavigationBar li {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 100%;
  }

  .NavigationBar a {
    color: #fff;
    text-decoration: none;
  }

  .NavigationBar a:hover {
    text-decoration: underline;
    text-decoration-color: #079ce1;
    text-decoration-thickness: 2.5px;
  }
   .menu-button {
    display: none;
  }

  nav[hidden] {
    display: block !important;
  }

  .Header>.NavigationBar {
    display: block;
  }

}