/*@use '../lib/variables' as *;*/
@use '../lib/mixins' as *;


 .TestimonialsContent1 {
    flex: 0 0.9 460px;
    display: flex;
    align-content: flex-start;
    gap: 0.1rem 1rem;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
    max-width: 50rem;
  }

  .TestimonialsContent1:hover {
    border-color: rgb(15, 160, 232);
  }

  .TestimonialsContent1 img {
    width: 55px;
    height: 58px;
    border-radius: 40%;
    object-fit: cover;
    display: block;

  }

  .TestimonialsContent1 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }

  .TestimonialsContent1 figcaption {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
  }

  .TestimonialsContent1 span {
    color: #000;
    font-size: .95rem;
    font-style: normal;
    margin: 0;
  }

  .TestimonialsContainer {
    display: flex;
    gap: 0rem;
    margin-top: 0rem;
  }

  .TestimonialsContent2 {
    flex: 0 0.9 460px;
    display: flex;
    align-content: flex-start;
    gap: 0.1rem 1rem;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
    max-width: 50rem;
  }

  .TestimonialsContent2:hover {
    border-color: rgb(15, 160, 232);
  }

  .TestimonialsContent2 img {
    width: 55px;
    height: 58px;
    border-radius: 40%;
    object-fit: cover;
    display: block;
  }

  .TestimonialsContent2 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }

  .TestimonialsContent2 figcaption {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
  }

  .TestimonialsContent2 span {
    color: #000;
    font-size: 0.9rem;
    font-style: normal;
    margin: 0rem;
  }

  .TestimonialsContent2 p,
  .TestimonialsContent2 span {
    margin: 0;
  }

  .TestimonialsContent2 {
    display: none;
  }




  @include large-screen {
   .TestimonialsContainer {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 6rem;
  }

  .TestimonialsContent1 {
    flex: 0 1 460px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: .75rem;
    border-radius: 1px;
    border: 3px solid transparent;
    background: #fff;
  }

  .TestimonialsContent1:hover {
    border-color: rgb(15, 160, 232);
  }

  .TestimonialsContent1 img {
    width: 70px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .TestimonialsContent1 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;

  }

  .TestimonialsContent1 figcaption {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
  }

  .TestimonialsContent1 span {
    color: #000;
    font-size: .95rem;
    font-style: normal;
    margin: 0;
  }

  .TestimonialsContent2 {
    flex: 0 1 460px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: .75rem;
    border-radius: 0px;
    border: 3px solid transparent;
    background: #fff;
  }

  .TestimonialsContent2:hover {
    border-color: rgb(15, 160, 232);
  }

  .TestimonialsContent2 img {
    width: 70px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .TestimonialsContent2 p {
    margin: 0;
    font: italic 400 1.1rem/1.3 sans-serif;
    text-align: left;
  }

  .TestimonialsContent2 figcaption {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
  }

  .TestimonialsContent2 span {
    color: #000;
    font-size: .95rem;
    font-style: normal;
    margin: 0;
  }
  }


