@use 'sections/header.scss';
@use 'sections/hero.scss';
@use 'sections/ctaTop.scss';
@use 'sections/ctaCenter.scss';
@use 'sections/testimonials.scss';
@use 'sections/challenges.scss';
@use 'sections/fullwidthsection.scss';
@use 'sections/options.scss';
@use 'sections/footer.scss';





html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}



/*.Header img {
  height: 8vh;
  border: 2px solid transparent;
}

.Header img:hover {
  border: 2px solid #079ce1;
}

.HeaderText {
  color: white;
  font-family: Roboto;
}

.HeaderText:hover {
  text-decoration: underline;
  text-decoration-color: #079ce1;
  text-decoration-thickness: 3px;
}

.NavigationBar ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  padding: 0;
  gap: 1rem;
}

.NavigationBar li {
  font-family: Roboto;
  font-weight: 500;
}

.NavigationBar a {
  color: #fff;
  text-decoration: underline;
}

.NavigationBar a:hover {
  text-decoration: underline;
}


.HeroMobile {
  width: 100%;
  height: 35vh;
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
}

.HeroDesktop {
  display: none;
}
footer {
  background-color: #001826;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.Footer h4,
.Footer h5,
.Footer p {
  margin-bottom: 0;
  padding-bottom: 0;

}*/

.menu-overlay[hidden] { display: none !important; } 


  
 

  

 
 

  
  
  

 

  
 
  



 

 
 


 
  